html {
  font-size: 18px;
}

.page__content p,
.page__content li,
.page__content details {
  font-size: 1em;
}

.page__content h2 {
  font-size: 1.4em;
}

footer {
  display: none;
}

@media (min-width: 925px) {
  .page {
    padding-left: 3em;
  }
}

details p, details {
  font-size: 0.85em;
}

.page__title {
  display: none;
}
